
/* ==========================================================================
   Layout
   ==========================================================================*/
    #wrapper {
        width:960px;
        margin:0px auto;
        border:0px solid #bbb;
        padding:0px;
    }
    .fixed-nav-bar{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      width: 100%;
      height: 50px;
      background-color: #3C3C3C;
    }
    #header{
        border:0px solid #bbb;
        height:80px;
        padding:0px;
    }
    #inheaderwrap{
        width:960px;
        text-align:center;
    }
    #headertitle{
        float: left;
        width:400px;
        font: 50px Arial;
        color: #FFFFFF;
        vertical-align:baseline;
        border:0px solid green;
        margin-top:-40px;
        margin-bottom:-60px;
    }
    #headerselected{
        float:right;
        width:120px;
        font: 30px Arial;
        font-weight:bold;
        color: #FFFFFF;
        vertical-align:baseline;
        border:0px solid green;
        margin-top:-10px;
    }
    #headernotselected{
        float:right;
        width:100px;
        font: 20px Arial;
        color: #FFFFFF;
        vertical-align:baseline;
        border:0px solid green;
        margin-top:5px;
    }
    #content {
        margin-top:-20px;
        padding-bottom:10px;
    }
    #content div {
        padding:10px;
        border:0px solid #bbb;
        float:left;
    }
    #content-left {
        width:600px;
        font:15px Arial;
    }
    #content-main {
        margin-left:10px;
        width:250px;
        font:15px Arial;
        text-align:center;
    }
    #content-right {
        margin-left:10px;
        width:250px;
        font:15px Arial;
        text-align:center;
    }
    #footer {
        float:left;
        margin-top:10px;
        margin-bottom:10px;
        padding:10px;
        border:0px solid #bbb;
        width:98%;
    }
    #bottom {
        clear:both;
        text-align:right;
    }
/* ==========================================================================
   Author's custom styles
   ==========================================================================*/

body {
    font:12px Arial;
    background:#E8E8EE;
}
a {
    color:inherit;
}
/* ==========================================================================
   Media Queries
   ==========================================================================*/

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ==========================================================================*/

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
