* {margin:0px;padding:0px;}
ul {
  list-style-position:inside;
}
body {
    font:20px Arial;
    background:#E8E8EE;
    padding:0px;
}
a {
    color:inherit;
}
p {
  font:12px Arial;
}
textarea {
  font-size:12pt;
  width:99%;
  height:170px;
  background: #ddd;
}
select {
   width: 190px;
   height: 34px;
   overflow: hidden;
   background: no-repeat right #ddd;
   border: 1px solid #ccc;
   font:15px Arial;
}
.button {
   border-top: 1px solid #ddd;
   background: #ddd;
   background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#ddd));
   background: -webkit-linear-gradient(top, #ddd, #ddd);
   background: -moz-linear-gradient(top, #ddd, #ddd);
   background: -ms-linear-gradient(top, #ddd, #ddd);
   background: -o-linear-gradient(top, #ddd, #ddd);
   padding: 5px 10px;
   border: 1px solid #ccc;
   height: 34px;
   width: 190px;
   text-align:left;
   color: black;
   font:15px Arial;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #202426;
   background: #202426;
   color: #ccc;
   }
.button:active {
   border-top-color: #ddd;
   background: #ddd;
   }

.title {
  font:55px Arial;
  cursor: default;
  pointer-events: none;
  line-height: 80px;
  padding-left: 12px;
  margin-bottom: 20px;
  color: #FFFFFF;

}

.restr{
  margin:0px;
  padding:10px;
}

.howwork {
  padding:20px;
}

.splash {
  width: 100%;
  height: 80px;
  margin-top: 0px;
  background: #3C3C3C;
}

  .splash .desc {
    padding: 36px;
    font-size: 24px;
    line-height: 38px;
  }


  @media only screen and (max-width : 767px) {
    .title {
      text-align: center;
      padding-left: 0px;
      font:50px Arial;
      line-height: 80px;
    }
  }
